.q1, .q2, .q3, .q4, .q5, .q6, .q7 {
    margin-bottom: 1.25rem !important;
}

.result-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
}

.results {
    margin-top: -2.5rem;
    /* line-height: 1.6em;
    margin: 0 0 1em; */
}